<form #deliveryForm="ngForm">
    <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column">

        <div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column">

            <div class="input-space" fxFlex>
                <mat-form-field>
                    <mat-label>CEP</mat-label>
                    <input matInput type="text" name="zipCode" mask="00000-000"
                        [(ngModel)]="deliveryEddress.zipCode"
                        (focusout)="getEddressByZipCode(deliveryEddress.zipCode)" required />
                </mat-form-field>
            </div>

            <div class="input-space" fxFlex>
                <mat-form-field>
                    <mat-label>Número</mat-label>
                    <input matInput type="text" name="number" [(ngModel)]="deliveryEddress.number" required />
                </mat-form-field>
            </div>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column">
            <div class="input-space" fxFlex>
                <mat-form-field>
                    <mat-label>Endereço</mat-label>
                    <input matInput type="text" name="eddress" [(ngModel)]="deliveryEddress.streetAddress"
                        required />
                </mat-form-field>
            </div>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column">

        <div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column">

            <div class="input-space" fxFlex>
                <mat-form-field>
                    <mat-label>Complemento</mat-label>
                    <input matInput type="text" name="complement" [(ngModel)]="deliveryEddress.complement" />
                </mat-form-field>
            </div>

            <div class="input-space" fxFlex>
                <mat-form-field>
                    <mat-label>Bairro</mat-label>
                    <input matInput type="text" name="neighborhood" [(ngModel)]="deliveryEddress.neighborhood"
                        required />
                </mat-form-field>
            </div>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column">

            <div class="input-space" fxFlex>
                <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <input matInput type="text" name="state" [(ngModel)]="deliveryEddress.state" required />
                </mat-form-field>
            </div>

            <div class="input-space" fxFlex>
                <mat-form-field>
                    <mat-label>Cidade</mat-label>
                    <input matInput type="text" name="city" [(ngModel)]="deliveryEddress.city" required />
                </mat-form-field>
            </div>
        </div>

    </div>
</form>