mat-card {
    max-width: 300px;
}

h2 {
    margin: 16px 0;
}

.table-container {

    table {
        width: 100%;

        button {
            margin: 0 5px;
        }
    }
}

.float{
	position:fixed;
    bottom: 40px;
    right: 40px;
}
